.vijay{
    background-color: blue;
    align-content: center;
}
.nayana{
    background-color: yellow;
}
.rashmika{
    background-color: red;
}
.vs{
    background-color: greenyellow;
}
.kamal{
    background-color: aqua;
}
i{
    background-color: brown;
}
#abc{
    background-color: pink;
}